@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-commonGray: oklch(58.34% 0.0039 174.39);
  --color-errorRed: oklch(0.53 0.2055 27.98);
}

@layer base {
  [data-theme="light"] {
    --color-background: oklch(100% 0 0);
    --color-point: oklch(0.78 0.1144 256.49);
    --color-gray: oklch(57.27% 0 0);
  }
  [data-theme="dark"] {
    --color-background: oklch(28.5% 0 0);
    --color-point: oklch(57.27% 0.255 290.47);
    --color-gray: oklch(79.52% 0 0);
  }
}

.modal {
  width: 375px;
  height: 812px;
  z-index: 100;
  background-color: oklch(43.13% 0 0 / 80%);
  isolation: isolate;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--color-background);
  border-radius: 12px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
