@import "tailwindcss";

@theme {
  --color-pointBlue: "#6EABFF";
  --color-pointPurple: "#8045FF";
  --color-darkBg: "#2A2A2A";
  --color-darkGray: "#797C7B";
  --color-lightGray: "#BCBCBC";
}

.modal {
  z-index: 100;
  background-color: "#505050";
}
